.wrapper {
    background-color:#6e47ac;
    height: 197px;
    width: 100%;
    z-index: 1;
}

.wrapper1 {
    background-color:#ffffff;
    height: 190px;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-left: -65%;
}

.wrapper2 {
    background-color:#332f43;
    height: 103.5px;
    width: 100%;
    z-index: -1;
}
