.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin-left: -80%;
  margin-top: 30px
}

.button1 {
  background-color: rgb(80, 23, 172) !important;
  color: white !important;
  margin-left: -70% !important;
  width: 150px !important;
  margin-top: 10px !important;
}

.button2 {
  background-color: rgb(247, 84, 15) !important;
  color: white !important;
  margin-left: -70% !important;
  width: 150px !important;
  margin-top: 10px !important;
}

.Report-intro {
  margin-top: -42px;
  margin-left: -30%

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
